@page
@model JobAgency.Pages.Errors._400Model
@{
    ViewData["title"] = "Bad Request";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">400</h1>
    <p style="font-size: 50px; ">Bad Request.</p>
    <p>The server could not understand the request.</p>
    <p>Please check your request and try again.</p>
    <p>Return to <a asp-page="https://localhost:7122">Ace Job Agency</a></p>
</div>
