@page
@model JobAgency.Pages.Errors._401Model
@{
    ViewData["title"] = "Unauthorized";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">401</h1>
    <p style="font-size: 50px; ">Unauthorized Access.</p>
    <p>You do not have permission to view this page.</p>
    <p>Please log in with valid credentials or contact the administrator.</p>
    <p>Go back to <a asp-page="https://localhost:7122">Ace Job Agency</a></p>
</div>
